header{
    display: flex;
    position: fixed;
    width: 100vw;
    background-color: #ffc244;
    align-items: center;
    padding: 0rem 4rem;
    justify-content: space-between;

    button{
        background:#00a082 ;
        border: none;
        padding: 10px 40px;
        border-radius: 20px;
        color: beige;
        font-size: 15px;
        cursor: pointer;
        
    }

    
}
    






