.section5{
    width: 100vw;
    display: flex;
    padding: opx 30px;
    .photo{
        width: 80%;
    }
    img{
        width: 30%;
    }
    .div-text{
        display: flex;
        gap: 10px;
        justify-content: center;
        align-items: center;
        padding: 50px;
        margin-top: 60px;
        flex-direction: column;
     width: 50%;
    }
    .div-img{
        width: 50%;
    }

    @media(max-width:400px){
        .section5{
            display: flex;
            width: 100%;

            flex-direction: column;
        }
        .div-text{
            margin: 0;
        }
        .div-img{
            margin: 0;

        }
    }



    
    }


